<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neo.bosm2015.bits.com.bosm2015" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="neo.bosm2015.bits.com.bosm2015.permission.C2D_MESSAGE" />

    <application
        android:name=".BOSM2015"
        android:allowBackup="true"
        android:icon="@drawable/bosmicon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
        <activity
            android:name=".Sports"
            android:label="@string/title_activity_sports"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
        <activity
            android:name=".Display"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_display"
            android:parentActivityName=".Sports" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Sports" />
        </activity>
        <activity
            android:name=".Exhibits"
            android:label="@string/title_activity_exhibits"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
        <activity
            android:name=".ExhibitDetails"
            android:label="Exhibit Details"
            android:parentActivityName=".Exhibits"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Exhibits" />
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="neo.bosm2015.bits.com.bosm2015" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".Events" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Events" />
        </activity>
        <activity
            android:name=".Sponsors"
            android:label="@string/title_activity_sponsors"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
        <activity
            android:name=".Developers"
            android:label="@string/title_activity_developers"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neo.bosm2015.bits.com.bosm2015.Home" />
        </activity>
    </application>

</manifest>
